.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1%;

  @media only screen and (max-width: 375px) {
    margin-top: 0%;
  }
}

.boards-wrapper {
  padding: 20px;
  width: 32vw;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.boards-info {
  background-color: white ;
  border: 2px solid #469C98;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 55px;
  cursor: pointer;
}

.boards-info p {
  margin: 0;
  font-size: 12px;
  color: #469c98 ;
}


.info {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #469c9855 ;
}

.selected {
  transition: all .2s;
  background: #469C98;
}

.selected p {
  transition: all .2s;
  color: white;
}